<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= locals.title || "notes App" %>
    </title>
    <link rel="stylesheet" href="/index.css">
</head>

<body>

    <%- body %>

    <div class="absolute">
        Notes App
    </div>
    <script src="/static.js"></script>
</body>

</html>