<main class="main">

    <div class="box">
        <a href="/register">
            <div class="child">
                Kayıt ol
            </div>
        </a>
        <div class="dot"></div>
    </div>

    <div class="box">
        <a href="/login">
            Giriş Yap
        </a>
        <div class="dot"></div>

    </div>


</main>