<div class="register">
    <div class="container">
        <div class="bar">
            <div class="title">
                Giriş Yap
            </div>
            <a href="/" class="close">
                <img src="/images/close.svg">
            </a>
        </div>

        <form action="/login" method="post">
            <div class="form-item">
                <input type="text" id="name" name="name" placeholder=" ">
                <label for="name">Kullanıcı adı</label>
            </div>
         
            <div class="form-item">
                <input type="text" id="Password" name="password" placeholder=" ">
                <label for="Password">Şifre</label>
            </div>
            <p class="text">Hesabın yok mu <a href="/register">Kayıt ol</a></p>
            <input type="submit" class="register-btn" value="Giriş Yap">
        </form>
    </div>

</div>