<div class="profile-container">
    <div class="wrapper">
        <div class="bar">
            <div class="title">
                Hesap Bilgileri
            </div>
            <a href="/home" class="close">
                <img src="/images/close.svg">
            </a>
        </div>
        <div class="profile-item">Kullanıcı Adı: <span><%= name %></span></div>
        <div class="profile-item">Email: <span><%= email %></span></div>
        <div class="profile-item password" id="profile-password">Şifre: <span><%= password %></span></div>
        <div class="profile-item">Toplam Not Sayısı: <span><%= sumNote%></span></div>
    
        <a href="/logout" class="log-out">Hesaptan Çık</a>
    </div>
</div>