<div class="register">
    <div class="container">
        <div class="bar">
            <div class="title">
                Kayıt Ol
            </div>
            <a href="/" class="close">
                <img src="/images/close.svg">
            </a>
        </div>

        <form action="/register" method="post">
            <div class="form-item">
                <input type="text" id="name" name="name" placeholder=" ">
                <label for="name">Kullanıcı adı</label>
            </div>
            <div class="form-item">
                <input type="email" id="email" name="email" placeholder=" ">
                <label for="email">Email</label>
            </div>
            <div class="form-item">
                <input type="password" id="Password" name="password" placeholder=" ">
                <label for="Password">Şifre</label>
            </div>
            <p class="text">Hesabın zaten var mı <a href="/login">Giriş Yap</a></p>
            <input type="submit" class="register-btn" value="Kayıt ol">
        </form>
    </div>

</div>